
<form action="/articles" method="post">
<h3><label for="title">Title: </label>
<input type="text" id="title" name="title"></input></h3>

<h3><label for="title">Content: </label>
<input type="text" id="content" name="content"></input></h3>
<input type="submit" value="submit">

</form>
